#header {
  width: 100%;
  height: 46px;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  z-index: 99;
}



#nav li {
  float: left;
  list-style-type: none;
  position: relative;
}

#nav li:nth-child(5) {
  display: none;
}

#nav > li > a {
  text-transform: uppercase;
  padding: 0 24px;
}

#nav li a {
  display: block;
  color: #fff;
  text-decoration: none;
  height: 46px;
  line-height: 46px;
}

#nav > li:hover > a,
.sub-nav li:hover a {
  background-color: #ccc;
  color: #000;
}

#nav .sub-nav {
  position: absolute;
  display: block;
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);

  display: none;
}

#nav li:hover .sub-nav {
  display: block;
}

.sub-nav li {
  width: 100%;
}

.sub-nav li a {
  padding-left: 12px;
  padding-right: 60px;
  color: #000 !important;
}

#search-box {
  display: inline;
  float: right;
  padding: 0 24px;
  height: 46px;
  line-height: 46px;
}

#search-box:hover {
  background-color: #f44336;
}

#menu-bar {
  display: none;
}

#slider {
    position: relative;
}

#slider .slider-img {
    width: 100%;
    display: block;
}

#slider .slider-slogan {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#slider div h3 {
    font-size: 24px;
    font-weight: 400;
}

#slider div p {
    font-weight: bold;
}

.content-block {
    max-width: 800px;
    margin: 0 auto;
    padding: 64px 16px;
}

#content .content-heading {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .col-3 .member-avtar {
    width: 60%;
    border: none;
    border-radius: 4px;
}

#content .sale-date li {
    padding: 8px 16px;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
}

#content .sale-date li:last-child {
    border-bottom: none;
}

#content .sold-out {
    padding: 0 8px;
    margin-left: 16px;
    background-color: #f44336;
    display: inline-block;
}

#content .remain-ticket {
    float: right;
    padding: 0 8px;
    border-radius: 50%;
    line-height: 24px;
}

#tour-place-list {
  margin-left: -16px;
  margin-right: -16px;
}

#content .place-img {
  display: block;
  width: 100%;
}

#content .place-item-text {
  overflow: auto;
  text-align: left;
}

button[class*='buy-tickets'] {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  line-height: 22.5px;
}

#contact-form input {
  padding: 8px;
  border: 1px solid #ccc;
}

input[name="name"],
input[name="email"] {
  width: 100%;
}

button[name="send"] {
  float: right;
  margin: 16px 0;
  line-height: 22.5px;
}

button[name="send"]:hover{
  background-color: #ccc;
  color: #000;
}

#contact-form .form-top {
  margin-left: -8px;
  margin-right: -8px;
}

#map {
  width: 100%;
  filter: grayscale(50%);
}